body {
    text-align: center;
}

/* Winning message styles */
.message{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
}

.message_content{
    position: absolute;
    top: 50%;
    left: 50%;
    height: 150px;
    width: 400px;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    box-shadow: rgba(0, 0, 0, 0.5);
}

.message.show{
    animation: appear 350ms ease-in forwards;
    visibility: visible;
    display: block;
}

.message_content > h1{
    font-size: 1.5em;
}

.play_button{
    background-color: rgba(90, 188, 245, 0.89);
    color:white;
    padding: 0.8em;
    margin: 1.2em auto;
    border: none;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.4);
}

@keyframes appear{
    0%{
        opacity: 0;
        transform: translateY(-20px);
    }
}